<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finance</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

    <style>
        .bold {
            font-weight: bold;
        }
    </style>
</head>
<body>

<form class="pure-form" action="/fetch-transactions" method="POST">
    <input type="submit" value="Fetch transactions" class="pure-button pure-button-primary">
</form>

<form class="pure-form" action="/add-institution" method="POST">
    <select name="institution_id">
        <option value="SEB_CBVILT2X">SEB</option>
        <option value="REVOLUT_REVOLT21">Revolut LT</option>
        <option value="LUMINOR_AGBLLT2X">Luminor</option>
        <option value="REVOLUT_REVOGB21">Revolut GB</option>
    </select>
    <input type="submit" value="Add bank" class="pure-button pure-button-primary">
</form>

<a href="/transactions" class="pure-button pure-button-primary">Transactions</a>

<table class="pure-table pure-table-bordered">
    {% for row in rows %}
    <tr class="{{ 'pure-table-odd bold' if row.bold }}">
        <td>{{ row.name }}</td>
        <td>{{ row.budget }}</td>
        {% for value in row.values %}
        <td>
            {% if value is number %}
            {{ '{0:0.2f}'.format(value) }}
            {% else %}
            {{ value }}
            {% endif %}

        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</body>
</html>

<!--

cash transactions
Sharon accounts


-->