<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finance</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
</head>
<body>

<form class="pure-form pure-form-aligned">
    <fieldset>
        <legend>Filter</legend>
        <div class="pure-control-group">
            <label for="date-from">Date from</label>
            <input type="date" id="date-from" name="date_from" placeholder="Date from" value="{{ filter.date_from }}"/>
        </div>
        <div class="pure-control-group">
            <label for="date-to">Date to</label>
            <input type="date" id="date-to" name="date_to" placeholder="Date to" value="{{ filter.date_to }}"/>
        </div>
        <div class="pure-control-group">
            <label for="category">Category</label>
            <select id="category" name="category">
                <option></option>
                {% for category in categories %}
                <option value="{{ category.value }}"
                        {{
                'selected' if category.value == filter.category }}
                >{{ category.value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Filter</button>
            <a href="/transactions" class="pure-button">Reset</a>
        </div>
    </fieldset>
</form>

<datalist id="categories">
    {% for category in categories %}
    <option value="{{ category.value }}">
        {% endfor %}
</datalist>

<form method="post">

    <table class="pure-table pure-table-striped pure-table-bordered">
        <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Other side</th>
            <th>
                Category
            </th>
            <th>
                <button type="submit" class="pure-button pure-button-primary">Update categories</button>
            </th>
        </tr>
        </thead>
        <tbody>

        {% for tid, transaction in transactions %}
        <tr>
            <td>{{ transaction.booking_date }}</td>
            <td>{{ '{0:0.2f}'.format(transaction.transaction_amount) }}</td>
            <td>
                <pre>{{ transaction.description }}</pre>
            </td>
            <td>{{ transaction.other_side }}</td>
            <td>
                {{ transaction.final_category.value }}
            </td>
            <td>
                <input list="categories" name="{{ tid }}">
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
</body>
</html>